{% load static %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{% url 'home' %}"><span>Com</span>pany</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about.page' %}">About</a></li>

          

          <li><a href="{% url 'service.page' %}">Services</a></li>
          <li><a href="{% url 'portfolio.page' %}">Portfolio</a></li>
          <li><a href="{% url 'price.page' %}">Pricing</a></li>
         
          <li><a href="{% url 'contact.page' %}">Contact</a></li>

         {% if user.is_authenticated %}
         
         <li class="drop-down"><a href="{% url 'blog.page' %}">Blog</a>
          <ul>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            
          </ul>
        </li>
          {% else %}
          <li><a href="{% url 'login.page' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->